body {
    background-image: url("../style/pics/pexels-photo-545331.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
    margin: 0;
    z-index: 2;
    font-family: 'Quicksand', sans-serif;
    
    padding-bottom: 80vh;
};


display-4 {
font-display: 400px;


};

.col-centered{
    float: none;
    margin: 0 auto;
}
input-group-text {
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}